<nav class="flex-1 px-2 space-y-1 main-nav">
  <div class="header">Getting started</div>
  <a href="/" <%- page.url == '/' ? 'class="active"' : '' %>>Introduction</a>
  <a href="/customizing" <%- page.url == '/customizing/' ? 'class="active"' : '' %>>Customizing</a>
  <div class="header">Components</div>
  <a href="/components/button" <%- page.url == '/components/button/' ? 'class="active"' : '' %>>Button</a>
  <a href="/components/dropdown" <%- page.url == '/components/dropdown/' ? 'class="active"' : '' %>>Dropdown</a>
  <a href="/components/input" <%- page.url == '/components/input/' ? 'class="active"' : '' %>>Input</a>
  <a href="/components/menu" <%- page.url == '/components/menu/' ? 'class="active"' : '' %>>Menu</a>
  <a href="/components/menu-divider" <%- page.url == '/components/menu-divider/' ? 'class="active"' : '' %>>Menu Divider</a>
  <a href="/components/menu-item" <%- page.url == '/components/menu-item/' ? 'class="active"' : '' %>>Menu Item</a>
  <a href="/components/menu-label" <%- page.url == '/components/menu-label/' ? 'class="active"' : '' %>>Menu Label</a>
  <a href="/components/select" <%- page.url == '/components/select/' ? 'class="active"' : '' %>>Select</a>
  <a href="/components/tag" <%- page.url == '/components/tag/' ? 'class="active"' : '' %>>Tag</a>
  <a href="/components/textarea" <%- page.url == '/components/textarea/' ? 'class="active"' : '' %>>Textarea</a>
</nav>
