<nav class="flex-1 space-y-1 main-nav">
  <div class="header">Getting started</div>
  <a href="/getting-started/overview" <%- page.url == '/getting-started/overview/' ? 'class="active" aria-current="page"' : '' %>>Overview</a>
  <a href="/getting-started/designers" <%- page.url == '/getting-started/designers/' ? 'class="active" aria-current="page"' : '' %>>Designers</a>
  <a href="/getting-started/developers" <%- page.url == '/getting-started/developers/' ? 'class="active" aria-current="page"' : '' %>>Developers</a>
  <div class="header">Guidelines</div>
  <a href="/guidelines/components-usage" <%- page.url == '/guidelines/components-usage/' ? 'class="active" aria-current="page"' : '' %>>Components usage</a>
  <a href="/guidelines/customizing" <%- page.url == '/guidelines/customizing/' ? 'class="active" aria-current="page"' : '' %>>Customizing</a>
  <div class="header">Components</div>
  <a href="/components/overview" <%- page.url == '/components/overview/' ? 'class="active" aria-current="page"' : '' %>>Overview</a>
  <a href="/components/button" <%- page.url == '/components/button/' ? 'class="active" aria-current="page"' : '' %>>Button</a>
  <a href="/components/checkbox" <%- page.url == '/components/checkbox/' ? 'class="active" aria-current="page"' : '' %>>Checkbox</a>
  <a href="/components/date-picker" <%- page.url == '/components/date-picker/' ? 'class="active" aria-current="page"' : '' %>>Date picker</a>
  <a href="/components/dropdown" <%- page.url == '/components/dropdown/' ? 'class="active" aria-current="page"' : '' %>>Dropdown</a>
  <a href="/components/field-group" <%- page.url == '/components/field-group/' ? 'class="active" aria-current="page"' : '' %>>Field group</a>
  <a href="/components/input" <%- page.url == '/components/input/' ? 'class="active" aria-current="page"' : '' %>>Input</a>
  <a href="/components/menu" <%- page.url == '/components/menu/' ? 'class="active" aria-current="page"' : '' %>>Menu</a>
  <a href="/components/menu-divider" <%- page.url == '/components/menu-divider/' ? 'class="active" aria-current="page"' : '' %>>Menu divider</a>
  <a href="/components/menu-item" <%- page.url == '/components/menu-item/' ? 'class="active" aria-current="page"' : '' %>>Menu item</a>
  <a href="/components/menu-label" <%- page.url == '/components/menu-label/' ? 'class="active" aria-current="page"' : '' %>>Menu label</a>
  <a href="/components/radio" <%- page.url == '/components/radio/' ? 'class="active" aria-current="page"' : '' %>>Radio</a>
  <a href="/components/radio-group" <%- page.url == '/components/radio-group/' ? 'class="active" aria-current="page"' : '' %>>Radio group</a>
  <a href="/components/select" <%- page.url == '/components/select/' ? 'class="active" aria-current="page"' : '' %>>Select</a>
  <a href="/components/spinner" <%- page.url == '/components/spinner/' ? 'class="active" aria-current="page"' : '' %>>Spinner</a>
  <a href="/components/tag" <%- page.url == '/components/tag/' ? 'class="active" aria-current="page"' : '' %>>Tag</a>
  <a href="/components/textarea" <%- page.url == '/components/textarea/' ? 'class="active" aria-current="page"' : '' %>>Textarea</a>
  <div class="header">Design tokens</div>
  <a href="/tokens/overview" <%- page.url == '/tokens/overview/' ? 'class="active" aria-current="page"' : '' %>>Overview</a>
  <a href="/tokens/typography" <%- page.url == '/tokens/typography/' ? 'class="active" aria-current="page"' : '' %>>Typography</a>
  <a href="/tokens/color" <%- page.url == '/tokens/color/' ? 'class="active" aria-current="page"' : '' %>>Color</a>
  <a href="/tokens/spacing" <%- page.url == '/tokens/spacing/' ? 'class="active" aria-current="page"' : '' %>>Spacing</a>
  <a href="/tokens/elevation" <%- page.url == '/tokens/elevation/' ? 'class="active" aria-current="page"' : '' %>>Elevation</a>
  <a href="/tokens/border-radius" <%- page.url == '/tokens/border-radius/' ? 'class="active" aria-current="page"' : '' %>>Border radius</a>
  <div class="header">Help</div>
  <a href="/help/contact-us" <%- page.url == '/help/contact-us/' ? 'class="active" aria-current="page"' : '' %>>Contact us</a>
  <div class="lg:hidden">
    <div class="header">More</div>
    <a class="inline w-min" href="https://github.com/paqtcom/graphite-design-system" target="_blank" rel="noopener noreferrer" title="Github" name="Github"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-github w-5 h-5"><path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"></path></svg></a>
  </div>
</nav>
