<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="alternate icon" type="image/png" href="/favicon.png">
    <link rel="icon" type="image/svg+xml" href="/favicon.svg">
    <title><%= title %></title>
    <meta
      name="description"
      content="<%= (!!locals.description) ? description : site.description %>"
    />
    <meta name="author" content="<%= site.author %>" />
    <meta property="og:title" content="<%= title %>" />
    <meta
      property="og:description"
      content="<%= (!!locals.description) ? description : site.description %>"
    />
    <meta property="og:locale" content="<%= site.locale %>" />
    <meta property="og:site_name" content="<%= site.site_name %>" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@algolia/algoliasearch-netlify-frontend@1/dist/algoliasearchNetlify.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@graphiteds/core@1.8.0/css/graphite.bundle.css"
      integrity="sha256-Maq0H86dB7RsnWif+qVcjQTCDWf91cqcF+kokcsZ8m0="
      crossorigin="anonymous"
    />
    <script
      type="module"
      src="https://cdn.jsdelivr.net/npm/@graphiteds/core@1.8.0/dist/core/core.esm.js"
      integrity="sha256-Lnr5zfJsRjrYdNGFqX7+oFWUwMcsyUP06UAvidhqpTw="
      crossorigin="anonymous"
    ></script>
    <% if (locals.tags == "posts") { %>
    <meta property="og:type" content="article" />
    <meta property="article:published_time" content="<%= date.toISOString() %>" />
    <script type="application/ld+json">
      {
        "description": "<%= (!!locals.description) ? description : site.description %>",
        "author": { "@type": "Person", "name": "<%= site.author %>" },
        "@type": "BlogPosting",
        "url": "<%= `${site.url}${page.url}` %>",
        "publisher": {
          "@type": "Organization",
          "name": "<%= site.author %>"
        },
        "headline": "<%= title %>",
        "datePublished": "<%= date.toISOString() %>",
        "mainEntityOfPage": {
          "@type": "WebPage",
          "@id": "<%= `${site.url}${page.url}` %>"
        },
        "@context": "http://schema.org"
      }
    </script>
    <% } %><%- include('webpack.ejs') %>
  </head>

  <body class="antialiased text-dark leading-normal bg-white lg:h-auto lg:overflow-y-auto">
    <div class="pt-16">
      <nav class="fixed top-0 z-40 w-full border-b bg-white">
        <div class="container mx-auto flex-1 px-4 lg:px-8">
          <div class="flex items-center justify-between h-16">
            <div class="lg:w-1/5 flex items-center pr-4">
              <a
                href="/"
                aria-label="Graphite"
                class="flex-shrink-0 flex-1 font-bold text-xl"
                <%- page.url == '/' ? 'aria-current="page"' : '' %>
              >
                <%- include('../logo.ejs') %> 
              </a>
            </div>
            <div class="flex-1 flex justify-start w-4/6">
              <div id="autocomplete-0-label" class="hidden">Search</div>
              <div id="search" class="lg:w-full"></div>
            </div>
            <div class="lg:w-1/5 flex items-center pr-4 lg:pr-8 justify-end">
              <span class="font-semibold leading-none text-dark text-base mr-4">v1.8.0</span>
              <div class="flex items-center">
                <a
                  href="https://github.com/paqtcom/graphite-design-system"
                  target="_blank"
                  rel="noopener noreferrer"
                  title="Github"
                  name="Github"
                  class="text-medium hover:text-primary-500 p-2 hidden lg:block"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="w-5 h-5"
                  >
                    <path
                      d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"
                    ></path>
                  </svg>
                </a>
                <button
                  aria-label="Menu" 
                  class="
                    lg:hidden
                    p-2
                    rounded-md
                    text-medium
                    focus:outline-none
                    -mr-2
                  "
                  onClick="toggleSidebar()"
                >
                  <svg
                    fill="none"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                    class="w-5 h-5"
                    id="menuButtonSVG"
                  >
                    <path d="M4 6h16M4 12h16M4 18h16"></path>
                  </svg>
                </button>
              </div>
            </div>
          </div>
        </div>
      </nav>

      <main class="container mx-auto px-4 lg:px-8">
        <div class="flex flex-wrap relative">
          <aside
            class="
              w-full
              lg:w-1/5
              lg:block
              fixed
              lg:relative
              inset-0
              mt-16
              lg:mt-0
              z-30
              bg-white
              lg:bg-transparent
              hidden
            "
            id="sidebar"
          >
            <div class="lg:sticky lg:top-16 overflow-y-auto h-full lg:h-auto lg:max-h-(screen-16)">
              <div class="p-4 lg:py-8 lg:pl-0 lg:pr-8">
                <%- include('../menu.ejs') %>
              </div>
            </div>
          </aside>
          
          <div class="flex flex-wrap-reverse w-full lg:w-4/5">
            <div class="w-full py-4 lg:pt-8 lg:pb-4 lg:border-l">
              <article class="content max-w-none lg:px-8">
                <%- content %>
              </article>
            </div>
          </div>
        </div>
      </main>
    </div>

    <script>
      function openSidebar() {
        var sidebar = document.getElementById('sidebar');

        sidebar.classList.remove('hidden');
      }

      function closeSidebar() {
        var sidebar = document.getElementById('sidebar');

        sidebar.classList.add('hidden');
      }

      function toggleSidebar() {
        var sidebar = document.getElementById('sidebar');
        var menuButton = document.getElementById('menuButton');

        sidebar.classList.toggle('hidden');
        document.body.classList.toggle('h-screen');
        document.body.classList.toggle('overflow-y-hidden');

        if (sidebar.classList.contains('hidden')) {
          menuButtonSVG.innerHTML = '<path d="M4 6h16M4 12h16M4 18h16"></path>';
        } else {
          menuButtonSVG.innerHTML = '<path d="M6 18L18 6M6 6l12 12"></path>';
        }
      }

      window.addEventListener('DOMContentLoaded', function (event) {
        sidebar.classList.add('hidden');
        menuButtonSVG.innerHTML = '<path d="M4 6h16M4 12h16M4 18h16"></path>';
      });
    </script>

    <script
      type="module"
      src="https://cdn.jsdelivr.net/npm/ionicons@5.4.0/dist/ionicons/ionicons.esm.js"
      integrity="sha384-xK1UWIBr4owfX2pXIO/ElRBj/nWGR+woU/2HlMLCUjwdl/4PZIroSf5NQ11p6DaZ"
      crossorigin="anonymous"
    ></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@algolia/algoliasearch-netlify-frontend@1/dist/algoliasearchNetlify.js"></script>
    <script type="text/javascript">
      algoliasearchNetlify({
        appId: 'GQFDW64RWE',
        apiKey: 'ea36b0b64197916f9a7e6f624e4f35fe',
        siteId: 'b2822e5c-6264-4b50-bcae-0642b936ccc9',
        branch: 'master',
        selector: 'div#search',
        placeholder: 'Search',
        detached: true,
      });
    </script>
  </body>
</html>
  